# Python

**pycache**/
*.py[cod]
*.pyo

# Jupyter

.ipynb_checkpoints/

# Virtual environments

.venv/
venv/
env/

# Environment variables

.env
.env.*

# OS files

.DS_Store
Thumbs.db

# Python build files

build/
dist/
*.egg-info/

# Local databases

*.db
*.sqlite
*.sqlite3

# Temporary files

*.tmp
*.temp

# IDE files

.vscode/
.idea/
